{% extends "core/base.html" %}
{% block content %}

<h2>Cardápio de Produtos</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Disponível?</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco|floatformat:2 }}</td>
            <td>{{ produto.ativo|yesno:"Sim,Não" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
